*{
    margin: 0;
}


.sea{
    
    width: 100vw;
    height: 100vh;
    background-image: url(./beachshowcase.jpg);
    background-size: cover;
    background-position: center;
   box-sizing: border-box;
   border: none;
   font-size: 1.5em;
   text-transform: unset;

}
  
    .cont{
        text-align: center;
        color: #926239;
        box-sizing: border-box;
        border:none;
        padding-top:15%;
    }


    .content{ 
        width: 100vw;
        background-color: #926239;
        box-sizing: border-box;
        padding: 2%;
        text-align: center;
        
    

    }
    
    

    .content-w{
        width: 100vw;
        box-sizing: border-box;
        padding: 2%;
        text-align: center;

  }
   
.line-blok{
width: 100vw;


}


.blok{
   
    background-color: #926239;
    width:33vw;
    display: inline-block;
    padding: 2%;
    box-sizing: border-box;
    text-align: left;




}

.centr-blok{
    

    width: 33vw;
    display: inline-block;
    padding: 2%;
    box-sizing: border-box;
    text-align: left;
    
 
}
.start{
     margin:30px ;
    
    
}
.a{
    text-decoration: none;
    border: 1px solid;
    padding: 10px;
   color: #926239;
   border-radius: 5px;
}